/* Add these styles to your global styles or in a separate CSS file */

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(121, 113, 113, 0.1);
}

.card-header {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
