<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
      <h4 class="card-header">Login Form</h4>
      <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                      <div *ngIf="f['email'].errors['required']">Email is required</div>
                      <div *ngIf="f['email'].errors['pattern']">Email should be valid</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                  <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                      <div *ngIf="f['password'].errors['required']">Password is required</div>
                      <div *ngIf="f['password'].errors['pattern']">Password should be minimum 8 charaters with uppercase, number & special charater</div>
                  </div>
              </div>
              <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" formControlName="role" [ngClass]="{ 'is-invalid': submitted && f['role'].errors }">
                  <option selected disabled value="">Select role</option>
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
                </select>
                <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
                    <div *ngIf="f['role'].errors['required']">Role is required</div>
                </div>
            </div>
              <span routerLink="/register"><a style="cursor: pointer; color: rgb(23, 119, 198)">Register?</a></span>
              <button class="ml-2 btn btn-primary">Login</button>
          </form>
      </div>
  </div>
</div>            